{
  "arrowParens": "avoid",
  "printWidth": 96,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",

  "overrides": [
    {
      "files": ["*.js", "*.cjs", "*.ts"],
      "options": {
        "importOrder": ["node_modules", "^[./]"],
        "importOrderSeparation": false,
        "importOrderSortSpecifiers": true,
        "importOrderParserPlugins": ["typescript", "decorators"],

        "plugins": ["@trivago/prettier-plugin-sort-imports"]
      }
    },
    {
      "files": ["*.jsx", "*.tsx", "*.vue"],
      "options": {
        "importOrder": ["node_modules", "^[./]"],
        "importOrderSeparation": true,
        "importOrderSortSpecifiers": true,
        "importOrderCaseInsensitive": true,
        "importOrderParserPlugins": ["typescript", "jsx", "decorators"],

        "singleAttributePerLine": true,
        "htmlWhitespaceSensitivity": "ignore",

        "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
      }
    }
  ]
}
