{
  "arrowParens": "avoid",
  "printWidth": 96,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",

  "overrides": [
    {
      "files": ["*.js", "*.ts", "*.vue"],
      "options": {
        "importOrder": ["node_modules", "^[./]"],
        "importOrderSortSpecifiers": true,
        "importOrderCaseInsensitive": true,
        "importOrderParserPlugins": ["typescript", "decorators"],

        "singleAttributePerLine": true,
        "htmlWhitespaceSensitivity": "ignore",

        "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
      }
    }
  ]
}
