@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'logo';
  src: url('@assets/HKGrotesk.woff2') format('woff2');
}

@font-face {
  font-family: 'global';
  src: url('@assets/LXGW.woff2') format('woff2');
}

html,
body {
  margin: 0;
}

html,
body,
#app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  font-family: 'global';
  color: rgba(3, 7, 18, 1);
}

* {
  box-sizing: border-box;
  flex-shrink: 0;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.flow-bg {
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.context-menu * {
  white-space: nowrap;
}

.context-menu-item {
  &:hover {
    & > .context-menu-sub {
      display: block;
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar-track-piece {
    background-color: rgba(248, 248, 248, 0.5);
  }

  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(221, 221, 221, 0.5);
    background-clip: padding-box;
    min-height: 28px;
    cursor: default;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
  }
}

.shadow-light {
  box-shadow: 0px 1px 4px 0px rgba(99, 99, 99, 0.1);
}

.shadow-heavy {
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
}

.left-orange-right-blue {
  background: linear-gradient(to right, rgba(234, 88, 12, 1) 50%, rgba(37, 99, 235, 1) 50%);
  background-clip: text;
  color: transparent;
}

.loader {
  position: relative;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: linear 0.4s infinite loader-animation;
}

.loader::after {
  animation-delay: 0.2s;
}

@keyframes loader-animation {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
